{% extends 'base.html'%}

{% block content %}

<div class="container py-3">
      <div class="jumbotron">
            <a href="{% url 'home' %}" class="close"><span aria-hidden="true">&times;</span>
            </a>
            <h3>Edit Profile</h3>

      </div>
<form method="POST" action="{% url 'edit_profile' %}">
    {% csrf_token %}
          <label>Email</label>
	      <div class="form-control">{{user.username}}</div>
          <label>Change Password:</label>
			<input class="form-control" type="password" placeholder="Type Your New Password" name="password">
		  <label>Repeat Password:</label>
		  <input class="form-control" type="password" placeholder="Type Your Password Again" name="password1"><br>
          <button class="btn btn-primary" type="submit">Submit</button>
</form>
</div>

{% endblock %}