<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">YourLifeSimplified</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'todolist' %}">To-Do-List</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Goals</a>
      </li>
    </ul>

      <div class="widget-header">
          {% if user.is_authenticated %}
          <small class="title text-muted">Welcome {{user.username}}!</small>
          {% else %}
          <small class="title text-muted">Welcome !</small>
          {% endif %}

          <div>
              {% if not user.is_authenticated %}
              <a class="text-light" href="{% url 'register' %}">Register</a> <span class=""> | </span>
              <a class="text-light" href="{% url 'login' %}"> Login</a>
              {% elif user.is_authenticated %}
              <a class="text-light" href="{% url 'logout' %}"> Logout</a>
              {% endif %}
          </div>
      </div>
  </div>

</nav>